{% extends "_base.html" %}
{% block content %}
<h1>Welcome to FlaskTaskr.</h1>
<h3>Please login to access your task list.</h3>

<form action="/" method="post">
	{{ form.csrf_token }}
	<div class="input-group">
		{{ form.name.label }}
		{{ form.name }}
	</div>
	<div class="input-group">
		{{ form.password.label }}
		{{ form.password }}
	</div >
	<div class="input_group">
		<button type="submit">Login</button>
	</div>
</form>

<p><em>Need and account? </em><a href="/register">Signup!!</a></p>

{% endblock %}
